<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生信息</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .main {
            margin-top: 60px;
        }

        .main select {
            width: 190px !important;
        }

        .table td {
            text-align: center;
            line-height: 25px !important;
        }

        article {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        table {
            margin-bottom: 0px !important;
        }
    </style>
</head>

<body>
<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">测试项目</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">学生信息</a></li>
                <li><a href="./add">录入学生</a></li>
                <li><a href="#about">关于</a></li>
                <li><a href="#contact">联系</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container main">
    <!-- 条件搜索 -->
    <article>
        <form class="form-inline" action="/index" method="post" id="form1">
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputName2">名称：</label>
                    <input type="hidden" name="pageIndex" th:value="${pageIndex}" id="pageIndex"/>
                    <input type="hidden" name="size" th:value="${size}" id="size"/>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入名称" name="sname"
                           th:value="${sname}">
                </div>
                <div class="col-md-3">
                    <label for="sel1">班级:</label>
                    <select class="form-control" id="sel1" name="gid">
                        <!--              <option>测试班级1</option>-->
                        <!--              <option>测试班级2</option>-->
                        <option value="">所有</option>
                        <option th:each="grade:${grades}" th:value="${grade.id}" th:text="${grade.name}"
                                th:selected="${gid==grade.id}?true:false">
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">查询学生</button>
                </div>
            </div>
        </form>
    </article>
    <!-- 数据表格 -->
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <td width="10%">#</td>
            <td width="10%">姓名</td>
            <td width="10%">性别</td>
            <td width="15%">电话</td>
            <td width="10%">班级</td>
            <td width="10%">选修</td>
            <td>地址</td>
            <td width="15%">操作</td>
        </tr>

        <!--      <tr>-->
        <!--        <td>1001</td>-->
        <!--        <td>王涛</td>-->
        <!--        <td>男</td>-->
        <!--        <td>15269693214</td>-->
        <!--        <td>一班</td>-->
        <!--        <td>JAVA</td>-->
        <!--        <td>山东济南</td>-->
        <!--        <td>-->
        <!--          <div class="action">-->
        <!--            <button class="btn btn-primary btn-xs" data-toggle="modal"  data-target="#editStudentModal">修改</button>-->
        <!--            <button class="btn btn-danger btn-xs">删除</button>-->
        <!--          </div>-->
        <!--        </td>-->
        <!--      </tr>-->

        <tr th:each="student:${students}" th:id="${student.id}">
            <td th:text="${student.id}">1001</td>
            <td th:text="${student.name}">王涛</td>
            <td th:text="${student.sex=='1'?'男':'女'}">男</td>
            <td th:text="${student.phone}">15269693214</td>
            <td th:text="${student.grade.name}">一班</td>
            <td th:text="${student.elective.name}">JAVA</td>
            <td th:text="${student.address}">山东济南</td>
            <td>
                <div class="action">
                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editStudentModal"
                            th:onclick="openUpdate([[${student}]])">修改
                    </button>
                    <button class="btn btn-danger btn-xs" th:onclick="deleteStu([${student}]])">删除</button>
                </div>
            </td>
        </tr>

    </table>
    <!-- 分页信息 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" th:onclick="pageUpdate([[${pageIndex+1}]])">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--        页数需要查询 总条数/页数-->
            <!--        <li class="active"><a href="#">1</a></li>-->
            <!--        <li><a href="#">2</a></li>-->
            <!--        <li><a href="#">3</a></li>-->
            <!--        <li><a href="#">4</a></li>-->
            <!--        <li><a href="#">5</a></li>-->
            <li th:each="index:${#numbers.sequence(1, size)}" th:class="${index==pageIndex} ?'active':''">
                <a href="#" th:text="${index}" th:onclick="pageUpdate([[${index}]])"></a>
            </li>
            <li>
                <a href="#" aria-label="Next" th:onclick="pageUpdate([[${pageIndex+1}]])">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 修改学生信息模态框内容 -->
    <div class="modal fade  bs-example-modal-lg" id="editStudentModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改学生信息</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <!--                        存放修改学生的id-->
                        <input type="hidden" class="form-control" id="recipient-id">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">姓名:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-sex" class="control-label">性别:</label>
                            <!--                            <input type="text" class="form-control" id="recipient-sex">-->
                            <select id="recipient-sex" class="form-control" style="width:100% !important">
                                <option value="1" selected>男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-phone" class="control-label">电话:</label>
                            <input type="text" class="form-control" id="recipient-phone">
                        </div>
                        <div class="form-group">
                            <label for="recipient-grade" class="control-label">班级:</label>
                            <!--                            <select class="form-control" id="recipient-grade" style="width:100% !important">-->
                            <!--                                <option>测试班级1</option>-->
                            <!--                                <option>测试班级2</option>-->
                            <!--                            </select>-->
                            <select class="form-control" id="recipient-grade" name="gid" style="width:100% !important">
                                <option value="">所有</option>
                                <option th:each="grade:${grades}" th:value="${grade.id}" th:text="${grade.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-elective" class="control-label">选修:</label>
                            <select class="form-control" id="recipient-elective" style="width:100% !important">
                                <!--                                <option>C++</option>-->
                                <!--                                <option>C#</option>-->
                                <!--                                <option>JAVA</option>-->
                                <option th:each="elective:${electives}" th:value="${elective.id}"
                                        th:text="${elective.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-address" class="control-label">地址:</label>
                            <textarea class="form-control" id="message-address"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateStudent()" data-dismiss="modal">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--确认删除-->


</div>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>-->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    /*
    分页
     */
    function pageUpdate(pageIndex) {
        // alert(pageIndex)
        var pageCount = $("#size").val()
        if (pageIndex > 0 && pageIndex <= pageCount) {
            $("#pageIndex").val(pageIndex);

            $("#form1").submit();
        }
    }

    //打开修改窗口
    function openUpdate(student) {
        $("#recipient-id").val(student.id);
        var tds = $("#" + student.id).children("td");

        $("#recipient-name").val(tds.eq(1).text());
        $("#recipient-phone").val(tds.eq(3).text());
        $("#message-address").val(tds.eq(6).text());

        // tds.eq(1).text(student_up.name);
        // tds.eq(2).text(student_up.sex == '1' ? '男' : '女');
        // tds.eq(3).text(student_up.phone);
        // tds.eq(4).text(student_up.grade.name);
        // tds.eq(5).text(student_up.elective.name);
        // tds.eq(6).text(student_up.address);


        /*
        加载性别
         */
        $("#recipient-sex option").each(function () {
            var sex = $(this).text();
            if (sex == tds.eq(2).text()) {
                $(this).prop("selected", true);
            }
        })
        /*
        班级选中
         */
        $("#recipient-grade option").each(function () {
            var grade = $(this).text();
            if (grade == tds.eq(4).text()) {
                $(this).prop("selected", true);
            }
        })

        /*
       科目选中
        */
        $("#recipient-elective option").each(function () {
            var elective = $(this).text();
            if (elective == tds.eq(5).text()) {
                $(this).prop("selected", true);
            }
        })
    }

    //修改学生
    function updateStudent() {
        //取值
        var id = $("#recipient-id").val();
        var name = $("#recipient-name").val();
        var phone = $("#recipient-phone").val();
        var address = $("#message-address").val();
        var sex = $("#recipient-sex ").val();
        var gradeId = $("#recipient-grade").val();
        var gradeName = $("#recipient-grade").find("option:selected").text();
        var electiveId = $("#recipient-elective ").val();
        var electiveName = $("#recipient-elective ").find("option:selected").text();
        //封装类
        var student = {
            "id": id,
            "name": name,
            "phone": phone,
            "address": address,
            "sex": sex,
            "grade": {
                "id": gradeId,
                "name": gradeName
            },
            "elective": {
                "id": electiveId,
                "name": electiveName
            }
        }
        //    ajax获取json
        $.ajax({
            type: 'post',
            url: '/updateStudent',
            data: JSON.stringify(student),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                var student_up = data.student;
                alert(data.result);
                /*
                得到tr
                 */
                var tds = $("#" + student.id).children("td");
                tds.eq(1).text(student_up.name);
                tds.eq(2).text(student_up.sex == '1' ? '男' : '女');
                tds.eq(3).text(student_up.phone);
                tds.eq(4).text(student_up.grade.name);
                tds.eq(5).text(student_up.elective.name);
                tds.eq(6).text(student_up.address);
            }

        })
    }

    //删除学生
    function deleteStu(student) {
        $.ajax({
            type: 'get',
            url: '/delete/' + student.id,
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if (data.result > 0) {
                    alert("删除成功");
                    $("#" + student.id).remove();
                }
            })
    }

</script>
</body>

</html>